.version.gear_fit /* version checker */
{
	color: #0000F2;
	background-color: #FBC887;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u216
{
	z-index: 2;
	padding-bottom: 189px;
}

#u188
{
	z-index: 3;
	width: 366px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 7px;
}

#u216-bw
{
	z-index: 2;
	height: 381px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

