.version.home_alerting /* version checker */
{
	color: #0000E1;
	background-color: #9E1B4C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 561px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 9px;
}

#u91
{
	z-index: 2;
	width: 324px;
	margin-right: -10000px;
	left: 28px;
}

#u247
{
	z-index: 4;
	width: 19px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 356px;
}

#u248-12
{
	z-index: 5;
	width: 19px;
	min-height: 123px;
	margin-bottom: -27px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

#u267
{
	z-index: 17;
	width: 19px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 355px;
}

#u268-19
{
	z-index: 18;
	width: 25px;
	min-height: 141px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -3px;
}

#u269
{
	z-index: 37;
	width: 19px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 356px;
}

#u270-10
{
	z-index: 38;
	width: 19px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u178
{
	z-index: 48;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 45px;
}

#u178_img
{
	padding-bottom: 1px;
}

#u280-21
{
	z-index: 50;
	width: 24px;
	min-height: 109px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	left: 351px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

