#u91
{
	background-color: transparent;
	position: relative;
}

#u247
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FF3412;
	position: relative;
}

#u248-12
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

