#u216
{
	border-color: #000000;
	background-color: #000000;
}

#u271
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #22B573;
	position: relative;
}

#u272-10
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

#u188
{
	background-color: transparent;
	position: relative;
}

