.version.setup_contacts /* version checker */
{
	color: #0000E7;
	background-color: #DF19ED;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 554px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 16px;
}

#pu91
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 28px;
}

#u91
{
	z-index: 2;
	width: 324px;
	margin-right: -10000px;
}

#u154
{
	z-index: 17;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 15px;
}

#u154_img
{
	padding-bottom: 1px;
}

#u247
{
	z-index: 4;
	width: 18px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 356px;
}

#u248-12
{
	z-index: 5;
	width: 19px;
	min-height: 123px;
	margin-bottom: -32px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

