.version.setup_alert /* version checker */
{
	color: #0000F6;
	background-color: #055EA1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 560px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 10px;
}

#pu91
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 28px;
}

#u91
{
	z-index: 2;
	width: 324px;
	margin-right: -10000px;
}

#u166
{
	z-index: 48;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 16px;
}

#u166_img
{
	padding-bottom: 1px;
}

#pu269
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 352px;
}

#u269
{
	z-index: 37;
	width: 19px;
	padding-bottom: 1px;
	margin-left: 4px;
}

#u270-10
{
	z-index: 38;
	width: 19px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u247
{
	z-index: 4;
	width: 19px;
	margin-left: 4px;
	margin-top: 21px;
}

#u248-12
{
	z-index: 5;
	width: 19px;
	min-height: 123px;
	margin-bottom: -27px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

#u267
{
	z-index: 17;
	width: 19px;
	padding-bottom: 9px;
	margin-left: 3px;
	margin-top: 29px;
}

#u268-19
{
	z-index: 18;
	width: 25px;
	min-height: 141px;
	margin-right: -10000px;
	margin-top: 11px;
	left: -3px;
}

#u279-21
{
	z-index: 50;
	width: 24px;
	min-height: 109px;
	background-color: transparent;
	text-align: center;
	margin-top: 18px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

