.version.setup_wizard_pin_password /* version checker */
{
	color: #0000E2;
	background-color: #BDD6CB;
}

@-ms-viewport
{
	width: 580px;
}

@-webkit-viewport
{
	width: 580px;
}

@-o-viewport
{
	width: 580px;
}

@-moz-viewport
{
	width: 580px;
}

@viewport
{
	width: 580px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 670px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: 200px;
}

#pu2918
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 2px;
}

#u2918
{
	z-index: 2;
	width: 378px;
	margin-right: -10000px;
}

#u3039-4
{
	z-index: 43;
	width: 312px;
	min-height: 396px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 35px;
}

#u3039
{
	font-size: 30px;
}

#u2910-4
{
	z-index: 47;
	width: 369px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 3px;
}

#u2911-3
{
	z-index: 51;
	width: 369px;
	min-height: 254px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 3px;
}

#u2951-39
{
	z-index: 4;
	width: 187px;
	min-height: 644px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 387px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

